<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permission Internet (déjà présente) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- Permissions pour la géolocalisation -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <!-- Permission pour l'état du réseau (utile pour les requêtes API) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
</manifest>